@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
   *{
   cursor: url('img/cursor.png'), auto;
   margin: 0;
   padding: 0;
   font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(254, 204, 224);
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navi {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 999;
}

.top_img{
    width: 100vw;
}

.navi_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1;
    color: rgb(170, 20, 125);
}
    
.navi_icon li {
    font-family: "Aldrich", sans-serif;
     cursor: pointer;
    transition: transform 0.1s;
    list-style: none;
    margin-right: 80px;
    text-align: center;
}

.navi_icon li:last-child {
    margin-right: 0;
}

.navi li a:hover img {
    transform: scale(0.95);
    box-shadow: 0 0px 10px rgba(66, 6, 43, 0.3);
}

.home-icon img {
    border: 3px solid white;
    border-radius: 5px;
}
.home-icon h4 {
    color: white; 
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  
.button_item {
    position: fixed;
    width: auto;
    height: 100vh;
    background-color: #FECCE0;
    display: flex;
    align-items: center;
    z-index: 3;
  }
  
  #leftBtn {
    left: 0;
  }
  
  #rightBtn {
    right: 0;
  }
  
  .button_item img {
    display: block;
    width: 70%;
    margin: 0 auto;
    height: auto;
    transition: transform 0.2s;
  }
  
  .button_item a:hover img {
    transform: scale(0.95);
  }
  
  .blink {
    position: relative;
    display: inline-block;
  }
  
  .blink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    border-radius: 15%;
    background-color: rgba(255, 0, 0, 0.144);
    animation: blink-animation 1s infinite;
    z-index: 1;
  }
  
  .blink img {
    position: relative;
    z-index: 0;
    display: block;
  }
  
  @keyframes blink-animation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

.video-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

video {
    width: 100%;
}


.overlay-button {
    background-color: #FF5C9D;
    height: 65px;
    width: 180px;
    border-radius: 15px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.overlay-button:hover {
    background-color: #fff;
    color: #FF5C9D;
}

.overlay h1 {
    font-size: 70px;
    color: #fff;
    text-shadow: -2px -2px 0 #D662A9, 2px -2px 0 #D662A9, -2px 2px 0 #D662A9, 2px 2px 0 #D662A9;
}

.overlay-image_name {
    color: #fff;
    font-size: 32px;
    margin-top: 10px;
    text-align: center;
}

.overlay-image {
    width: 50%;
}

.contact-container {
    display: flex; 
    gap: 100px;
    padding: 20px 40px;
    border-radius: 8px;
    width: 1100px; 
    box-sizing: border-box; 
}

.form_left,
.form_right {
    flex: 1;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    color: #ff7aaf;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #FECCE0;
    border-radius: 4px;
}

#message {
    height: 120px;
}

.select_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 100px;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.photo-container h3{
    color: #fff;
    padding: 10px;
    font-weight: normal;
}

.photo-box1, .photo-box2 {
    border: 2px solid rgb(255, 37, 208);
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mini-boxes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mini-box {
    margin: 0 5px;
}

.mini-image {
    border: 1px solid rgb(255, 37, 208);
    width: 75px;
    height: 75px;
    cursor: pointer;
    object-fit: cover;
    animation: blink-animation2 3.5s infinite;
}

.overlay{
padding: 80px;
}

.overlay-button {
background-color: #FF5C9D;
height: 65px;
width: 180px;
border-radius: 15px;
margin: 30px auto 0;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
text-decoration: none;
font-size: 36px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
}

.overlay-button:hover {
background-color: #fff;
color: #FF5C9D;
}

.overlay h1 {
font-size: 70px;
color: #fff;
text-shadow: -2px -2px 0 #D662A9, 2px -2px 0 #D662A9, -2px 2px 0 #D662A9, 2px 2px 0 #D662A9;
}


@keyframes blink-animation2 {
0%, 50%, 100% {
    opacity: 1;
}
25%, 75% {
    opacity: 0.5;
}
}

